.modal.js-modal#modal01
  .modal__bg.js-modal-close
  .modal__container
    %h3.modal__container-title カバー写真
    .modal__container-contents
      .modal__container-contents__cover-image
      = form_with model: @profile, url: {controller: 'profiles', action: 'show' }, html: {class: "modal__container-contents__cover-image--form"}, local: true do |f|
        = f.file_field :cover_image
        .modal__container-contents__cover-image--actions
          = link_to "閉じる", "", class: "js-modal-close"
          = f.submit "更新する"
.modal.js-modal#modal02
  .modal__bg.js-modal-close
  .modal__container
    %h3.modal__container-title キャッチコピー
    .modal__container-contents
      = form_with model: @profile, url: {controller: 'profiles', action: 'show' }, html: {class: "modal__container-contents__catch-copy--form"}, local: true do |f|
        = f.text_field :catch_copy
        .modal__container-contents__catch-copy--actions
          = link_to "閉じる", "", class: "js-modal-close"
          = f.submit "更新する"
.modal.js-modal#modal03
  .modal__bg.js-modal-close
  .modal__container
    %h3.modal__container-title プロフィール写真
    .modal__container-contents
      .modal__container-contents__profile-image
      = form_with model: @profile, url: {controller: 'profiles', action: 'show' }, html: {class: "modal__container-contents__profile-image--form"}, local: true do |f|
        = f.file_field :profile_image
        .modal__container-contents__profile-image--actions
          = link_to "閉じる", "", class: "js-modal-close"
          = f.submit "更新する"
.modal.js-modal#modal04
  .modal__bg.js-modal-close
  .modal__container
    %h3.modal__container-title SNS
    .modal__container-contents
      .modal__container-contents__sns
        %section.modal__container-contents__sns--twitter
          Twitter
          = link_to "連携する", "#"
        %section.modal__container-contents__sns--facebook
          Facebook
          = link_to "連携する", "#"
        %section.modal__container-contents__sns--google
          Google
          = link_to "連携する", "#"
.modal.js-modal#modal05
  .modal__bg.js-modal-close
  .modal__container
    %h3.modal__container-title 関連リンク
    .modal__container-contents
      .modal__container-contents__related-link
        = form_with model: @profile, url: {controller: 'profiles', action: 'show' }, html: {class: "modal__container-contents__related-link--form"}, local: true do |f|
          %section.modal__container-contents__related-link--title
            関連タイトル
            = f.text_field :related_title
          %section.modal__container-contents__related-link--link
            関連リンク
            = f.text_field :related_link
          .modal__container-contents__related-link--actions
            = link_to "閉じる", "", class: "js-modal-close"
            = f.submit "更新する"
.modal.js-modal#modal06
  .modal__bg.js-modal-close
  .modal__container
    %p 基本情報変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"