.modal.js-modal#modal01
  .modal__bg.js-modal-close
  .modal__content
    %p カバー写真変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"
.modal.js-modal#modal02
  .modal__bg.js-modal-close
  .modal__content
    %p キャッチコピー変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"
.modal.js-modal#modal03
  .modal__bg.js-modal-close
  .modal__content
    %p プロフィール写真変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"
.modal.js-modal#modal04
  .modal__bg.js-modal-close
  .modal__content
    %p SNS変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"
.modal.js-modal#modal05
  .modal__bg.js-modal-close
  .modal__content
    %p 関連リンク変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"
.modal.js-modal#modal06
  .modal__bg.js-modal-close
  .modal__content
    %p 基本情報変更モーダル
    = link_to "閉じる", "", class: "js-modal-close"