.sign-up__wrapper
  .sign-up__box
    = image_tag "/assets/title-logo.png", alt: "新規登録ロゴ画像", height: "44px", class: "sign-up__box-logo"
    %h2.sign-up__box-title 新規登録して続ける(任意項目)
    = form_for @profile, html: {class: "sign-up__form"} do |f|
      = render "devise/shared/error_messages", resource: @profile
      .sign-up__form-item
        = f.label :introduction, "紹介文"
        %span.sign-up__form-optional 任意
        %span.sign-up__form-confirm あとからでも編集ができます
        %br/
        = f.text_area :introduction, class: "sign-up__form-input", value: "こんにちは、○○です。よろしくお願いします。"
      .sign-up__form-item
        = f.label :career, "経歴"
        %span.sign-up__form-optional 任意
        %span.sign-up__form-confirm あとからでも編集ができます
        %br/
        = f.text_area :career, class: "sign-up__form-input", value: "○○年△△月□□日に、☆☆高校を卒業しました。"
      .sign-up__form-submit
        = f.submit "→", class: "sign-up__form-btn"