.category-area__box
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 四次元ポケットを持っています。四次元ポケットの中にはたくさんのひみつ道具が入っています。
      %p.category-area__description#category-area__descriptionB ドラえもん
      %p.category-area__description#category-area__descriptionC @dorayakidaisuki
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        140
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong お金持ちのお坊ちゃんです。実は優しいので、お友達になってください。
      %p.category-area__description#category-area__descriptionB スネ夫@金持ちお坊ちゃん、とんがり頭お坊ちゃん、三角顔のお坊ちゃん
      %p.category-area__description#category-area__descriptionC @sunesunekanemoti
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        90
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136
  .category-area__item
    = link_to image_tag('/assets/no-profile.png', alt: 'ヘッダー画像', height: '135px', width: '180px', class: ''), "#"
    .category-area__item--bottom
      %p.category-area__description#category-area__descriptionA
        %strong 早寝が得意です。0.93秒で眠りにつくことができます。
      %p.category-area__description#category-area__descriptionB 野比のび太
      %p.category-area__description#category-area__descriptionC @nobinobita
      %p.category-area__description#category-area__descriptionD
        = icon("fas", "heart")
        136