.wrapper
  = render partial: 'layouts/header'
  %main
    %section.category-area
      %h2.category-area__title 最新プロフィール
      = render partial: 'category_box'
    %section.category-area
      %h2.category-area__title おすすめプロフィール
      = render partial: 'category_box'
    %section.category-area
      %h2.category-area__title 人気プロフィール
      = render partial: 'category_box'
  %footer
    .footer__inner
      %ul.footer__menu
        %li.footer__menu__column
          %p.footer__menu__title About
          %ul.footer__menu__list
            %li.footer__menu__item
              = link_to "運営者", "#", class: "link white"
            %li.footer__menu__item
              = link_to "利用規約", "#", class: "link white"
            %li.footer__menu__item
              = link_to "ヘルプ", "#", class: "link white"
            %li.footer__menu__item
              = link_to "プライバシー", "#", class: "link white"
        %li.footer__menu__column
          %p.footer__menu__title Products
          %ul.footer__menu__list
            %li.footer__menu__item
              = link_to "#", class: "link white" do
                MySelf
                %p.footer__menu__item-description 日記アプリです。自己紹介文も記録できます。(開発中)
            %li.footer__menu__item
              = link_to "#", class: "link white" do
                ShinChatBot
                %p.footer__menu__item-description チャットボットアプリです。Reactの勉強用で作成しました。
      .footer__bottom
        .footer__bottom-logo
          = link_to image_tag("/assets/title-logo.png", alt: "フッターロゴ画像", height: "44px", class: "header__logo"), root_path
        .footer__bottom-text
          = link_to "トップへ戻る", "#", class: "link white"