%header
  = link_to image_tag("/assets/header-logo.png", alt: "ヘッダー画像", height: "44px", width: "44px", class: "header__logo"), root_path
  %nav.global-menu
    %ul.global-menu__box
      %li.grobal-menu__item
        = link_to "おすすめ/人気を探す", "#", class: "link"
      %li.global-menu__item
        = link_to "自己分析をする", "#", class: "link"
  = form_with local: true, class: "search-form" do |f|
    = f.text_field :keyword, class: "search-form__input", placeholder: "ユーザー名でプロフィールを検索"
    = icon("fas", "search", class: "search-form__icon")
  %nav.user-menu
    %ul.user-menu__box
      %li.user-menu__item
        = icon("fas", "heart")
      %li.user-menu__item
        = icon("fas", "edit")
  .user-profile
    = link_to image_tag("/assets/no-profile.png", alt: "プロフィール画像", height: "44px", width: "44px", class: "user-profile__image"), "#"
    %ul.user-profile__text
      %li 野比のび太
      %li @hayanetokui